{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block vertical-links %}
    <a href="{% url 'index' %}"><i class="fas fa-home"></i> Home</a>
    <a href="{% url 'about' %}"><i class="fas fa-user"></i> About</a>
    <a href="{% url 'skills' %}"><i class="fas fa-tools"></i> Skills</a>
    <a href="{% url 'projects' %}" style="color:#4AEFDF;"><i class="fas fa-project-diagram"></i> Projects</a>
    <a href="{% url 'contact' %}"><i class="fas fa-paper-plane"></i>Contact</a>
{% endblock vertical-links %}

{% block horizontal-links %}
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'skills' %}">Skills</a>
    <a href="{% url 'projects' %}" class="current"
       onmouseover="this.style.borderBottom='2px #4AEFDF solid'">Projects</a>
    <a href="{% url 'contact' %}">Contact</a>
{% endblock horizontal-links %}

{% block content %}
    <!--------------------------Projects---------------------------->
    <div class="projects">
        <div data-aos="fade-right" class="title project-title">Projects</div>
        <div class="projects-cont">
            <div class="project-image" style="background-image: url({% static 'images/clock.jpg' %});" onclick="">
                <div class="project-overlay-cont">
                    <p class="project-info">A unique time display with a dark mode feature.</p>
                    <a href="https://Nwoye-Ezekiel.github.io/iclock/">
                        <button class="project-but">Visit Website</button>
                    </a>
                </div>
            </div>
            <div class="project-image" style="background-image: url({% static  'images/4.jpg' %});" onclick="">
                <div class="project-overlay-cont">
                    <p class="project-info">Vacant</p>
                    <!-- <a href="">
                        <button class="project-but">Visit Website</button>
                    </a> -->
                </div>
            </div>
            <div class="project-image" style="background-image: url({% static 'images/4.jpg' %});" onclick="">
                <div class="project-overlay-cont">
                    <p class="project-info">Vacant</p>
                    <!-- <a href="">
                        <button class="project-but">Visit Website</button>
                    </a> -->
                </div>
            </div>
            <div class="project-image" style="background-image: url({% static 'images/4.jpg' %});" onclick="">
                <div class="project-overlay-cont">
                    <p class="project-info">Vacant</p>
                    <!-- <a href="">
                        <button class="project-but">Visit Website</button>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
    <!--------------------------/Projects--------------------------->
{% endblock %}
