{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
<!--------------------------Projects---------------------------->
		<div class="projects">
			<div data-aos="fade-right" class="title project-title">Projects</div>
			<div  class="projects-cont">
				<div class="project-image" style="background-image: url('clock.jpg');" onclick="">
					<div class="project-overlay-cont">
						<p class="project-info">A unique time display with a dark mode feature.</p>
						<a href="https://Nwoye-Ezekiel.github.io/iclock/">
							<button class="project-but">Visit Website</button>
						</a>
					</div>
				</div>
				<div class="project-image" style="background-image: url('4.jpg');" onclick="">
					<div class="project-overlay-cont">
						<p class="project-info">Vacant</p>
						<!-- <a href="">
							<button class="project-but">Visit Website</button>
						</a> -->
					</div>
				</div>
				<div class="project-image" style="background-image: url('4.jpg');" onclick="">
					<div class="project-overlay-cont">
						<p class="project-info">Vacant</p>
						<!-- <a href="">
							<button class="project-but">Visit Website</button>
						</a> -->
					</div>
				</div>
				<div class="project-image" style="background-image: url('4.jpg');" onclick="">
					<div class="project-overlay-cont">
						<p class="project-info">Vacant</p>
						<!-- <a href="">
							<button class="project-but">Visit Website</button>
						</a> -->
					</div>
				</div>
			</div>
		</div>
<!--------------------------/Projects--------------------------->
{% endblock %}
